body {
  background: url(../image/body_back.png);
  height: 100%;
  width: 100%;
  min-height: 800px;
  min-width: 1280px;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
}
body li {
  list-style-type: none;
}
body ul {
  padding-left: 0px;
}
#logo {
  position: absolute;
  z-index: 9990;
  top: 31px;
  left: 50%;
  margin: 0 0 0 -461px;
  font-family: 'standard0757', Arial, Helvetica, sans-serif;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
#logo label {
  display: block;
  margin: 0;
  font-size: 8px;
  text-transform: uppercase;
  line-height: 16px;
  text-shadow: -1px -1px 0 #333333, 1px 1px 0 #333333, -2px 0px 2px #333333, 2px 0px 2px #333333, 0px -2px 2px #333333, 0px 2px 2px #333333;
}
#content {
  width: 966px;
  margin: 0 auto;
  padding: 123px 0 0 0;
}
#content h4 {
  font-weight: bold;
  height: 25px;
  line-height: 22px;
  position: relative;
}
#content .box {
  width: 237px;
  margin: 0 -2px 12px -2px;
}
#content .box .type {
  position: relative;
  z-index: 4;
}
#content .box .type h4 {
  font-weight: bold;
  padding-left: 40px;
  height: 25px;
  line-height: 22px;
  position: relative;
}
#content .box-content #url {
  width: 186px;
  height: 119px;
  padding: 5px 7px;
  border: solid #222;
  border-width: 2px 0 0 2px;
  border-top: 2px solid #232323;
  -webkit-box-shadow: 1px 1px 0 #545454;
  -moz-box-shadow: 1px 1px 0 #545454;
  box-shadow: 1px 1px 0 #545454;
  background: #2a2a2a;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  line-height: 14px;
  resize: none;
  margin: 21px 0 0 18px;
}
#content .box-content p .info {
  margin: 10px 10px 10px 20px;
  line-height: 14px;
  color: #898989;
}
#content .box-content ul {
  border-top: 1px solid #141414;
  line-height: 28px;
}
#content .box-content ul li {
  width: 237px;
  height: 28px;
  line-height: 28px;
  margin: 0;
  z-index: 3;
  position: relative;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #141414;
  background: #333;
}
#content .box-content ul li a {
  display: block;
  height: 28px;
  padding-left: 40px;
  color: #898989;
  position: relative;
  cursor: pointer;
  border-left: 2px solid #3e3e3e;
}
#content .box-content ul .type {
  overfllow: hidden;
}
#content .left,
#content .right {
  width: 235px;
  float: left;
  position: relative;
  background: #333;
  background: rgba(51, 51, 51, 0.6);
  border-bottom: 2px solid #141414;
  border-top: 1px solid;
}
#content .left header {
  width: 235px;
  height: 60px;
  border-top: 1px solid #28a5e6;
  line-height: 60px;
  text-indent: 20px;
  font-family: 'standard0757', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #28a5e6;
  text-shadow: -1px -1px 0 #000000;
  text-transform: uppercase;
}
#content .center {
  float: left;
  width: 480px;
  height: 550px;
  background: #fff;
  margin: 0 4px;
  position: relative;
}
#content .center .welcome {
  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;
  border: 0;
  z-index: 200;
  background: #eeeeee url(../image/white_back.png) repeat;
  font-family: 'Open Sans';
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
  text-shadow: none;
  color: #444;
}
